[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
gensim = "*"
tokenizer = {git = "https://github.com/erikavaris/tokenizer.git"}
pandas = "*"
matplotlib = "*"
seaborn = "*"
unidecode = "*"
pyldavis = "*"
jupyterlab = "*"
fasttext = {git = "https://github.com/facebookresearch/fastText.git"}
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.7"
